*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(16, 99, 99);
}

canvas {
    border: 3px solid khaki;
    background-color: whitesmoke;
  position: absolute;
  top: 20%;
  left: 20%;
}